@page "/my/exam"

<Card Title="考试记录">
    <Table TItem="UserExamListDto"
           DataSource="@_userExams"
           Total="_totalCount"
           Loading="_loading"
           RowKey="x=>x.ExamId"
           @bind-PageIndex="_currentPage"
           @bind-PageSize="_pageSize"
           OnChange="Change">
        <PropertyColumn Property="c => c.ExamName" Title="@L["ExamName"]"/>
        <PropertyColumn Property="c => c.TotalScore" Title="@L["TotalScore"]" />
        <PropertyColumn Property="c => c.CreationTime" Title="@L["StartedTime"]" />
        <PropertyColumn Property="c => c.FinishedTime" Title="@L["FinishedTime"]" />
        <ActionColumn Title="@L["Action"]">
            @if (context.Finished)
            {
                <Space>
                    <SpaceItem>
                        <Button Type="@ButtonType.Primary" OnClick="()=>Detail(context.Id)">@L["Detail"]</Button>
                    </SpaceItem>
                </Space>
            }
        </ActionColumn>
    </Table>
</Card>

@using AntDesign.TableModels
@using Microsoft.Extensions.Localization
@using SuperAbp.Exam.ExamManagement.UserExams
@using SuperAbp.Exam.Localization
@inject IStringLocalizer<ExamResource> L
@inject NavigationManager Navigation
@inject IUserExamAppService UserExamAppService
@code {
    IReadOnlyList<UserExamListDto> _userExams;

    int _currentPage = 1;
    int _pageSize = 10;
    int _totalCount = 0;
    bool _loading = true;

    public async Task Change(QueryModel model)
    {
        await GetListAsync(model.PageIndex, model.PageSize);
    }
    protected async Task GetListAsync(int pageIndex, int pageSize, string sorting = null)
    {
        _loading = true;
        var result = await UserExamAppService.GetListAsync(new GetUserExamsInput() { SkipCount = 0, MaxResultCount = _pageSize });
        _userExams = result.Items;
        _totalCount = (int)result.TotalCount;
        _loading = false;
    }

    protected void Detail(Guid id)
    {
        Navigation.NavigateTo($"/my/exam/{id}");
    }
}
